@use '../../../../styles' as *;
aside {
    height: 100vh;
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
    padding: 1rem 0;
    background-color: var(--surface-card);
    @include card();
    @include tikki-vertical-gradient-border( 3rem, 3px);
    margin: 0 1rem 0 0;
    padding: 2rem 0 2rem 0;
}
h3{
    text-align: center;
}
.chats-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
article {
    @include card();
    border-radius: 2rem;
    margin: 0 1rem 0 0;
    display: flex;
    flex-direction: column;
    gap : 1rem;
    width: 99%;
    align-self:flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}
article:hover{
 cursor: pointer;
 transition : 0.2s ease-in-out;
 border : 2px solid var(--primary-color);
}
.title {
    margin: 0 0 1rem 0;
}