@use '../../../../styles' as *;
aside {
  height: 40rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: none;
  gap: 1rem;
  padding: 1rem 0;
  background-color: var(--surface-card);
  @include card();
  @include tikki-vertical-gradient-border(3rem, 3px);
  margin: 0 1rem 0 0;
  padding: 2rem 0rem 2rem 0rem;
}
h3 {
  text-align: center;
}
.chats-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 98%;
  height: 100%;
}
article {
  @include card();
  border-radius: 1.5rem;
  border : 1px solid transparent;
  margin: 0 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0;
  height: 7rem;
  width: 100%;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-height: min-content;
    width: 100%;
    margin-bottom: 0;
    h4{
        width: 50%;
        height: min-content;
    }
    p {
      font-weight: 600;
      font-size: 1rem;
    }
  }
  span {
    font-weight: 600;
    font-size: 0.8rem;
  }
  p{
    font-size: 0.8rem;
  }
}
article:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
 border: 1px solid var(--primary-color);
}
.title {
  margin: 0 0 1rem 0;
}
.badges {
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
gap: 0.5rem;


  &::before {
    content: 'Ticket: ';
    color: #9ca3af;
    grid-column: 1;
    grid-row: 1 / -1;
    align-self: self-start;
  }
  p {
    margin: 0;
    width: fit-content;
    grid-column: 2;
  }

  app-badge {
    grid-column: 2;
  }

  transform: scale(0.8);
  transform-origin: top right;
  box-sizing: content-box;
}

.active {
  border: 2px solid var(--primary-color);
  transition: 0.2s ease-in-out;
}


@media (max-width: 1024px) {
  aside{
   width: 15rem;
   height: 80dvh;
  }
  article {
    height: fit-content;
    overflow: hidden;
    .ticket-title{
      font-weight: 400;
      display: inline;
    }
    span{
      display: none;
    }
    p{
      display: none;
  }
  }
}