@use '../../../../styles' as *;
.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-card);
  @include card();
  @include tikki-vertical-gradient-border();
  width: 50rem;
  height: 30rem;
 display : flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;


 header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
 }
  .close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background-color: red;
    padding: 0.5rem 1rem; 
    border-radius: 25%;
 
  }
  input{
    @include input();
    margin: 0;
  }
select {
  @include input();
  margin: 0;
  option{
  top: 2.1rem;
}
}

 .modal-button{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: 2rem auto;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 2rem;
  margin: 3rem auto;
}
.field{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

button {
  @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
  @include button();
}
span{
    color: red;
    font-size:x-small;
    position: relative;
    
    text-align: left;
 }