@if (isVisible()) {

<div class="overlay-modal">
  <div class="modal">
    <header>
      <button class="close" (click)="isVisible.set(false)">X</button>
      @if (mode() === 'create') {
      <h3>New Team Member</h3>
      } @else if (mode() === 'update') {
      <h3>Update Team Member</h3>
      } @else if(mode() === 'onboarding') {
      <h3>Update your Information and password</h3>
      }
    </header>
    <form [formGroup]="userForm">
      <div class="field">
        <label>Name</label>
        @let name = userForm.controls.name;
        <input formControlName="name" type="text" placeholder="Name" />
        @if (name.invalid && name.touched) { @if (name.errors?.['required']) {
        <span>Name is required</span>
        } @if (name.errors?.['minlength']) {
        <span>Name must be at least 3 characters</span>
        } }
      </div>
      <div class="field">
        <label>Location</label>
        @if (mode() === 'create') {
        <app-location-input (newLocation)="onSaveLocation($event)"></app-location-input>
        } @else {
        <app-location-input
          [location]="user()?.location "
          (newLocation)="onSaveLocation($event)"
        ></app-location-input>
        }
      </div>
      @if (mode() !== 'onboarding') {
      <div class="field">
        @let department = userForm.controls.department;
        <label>Department</label>
        <select formControlName="department" type="number" placeholder="Department" value="0">
          <option disabled value="0"></option>
          <option value="1">IT</option>
          <option value="2">HR</option>
          <option value="3">Sales</option>
          <option value="4">Marketing</option>
        </select>
        @if (department.invalid && department.touched) { @if (department.errors?.['required']) {
        <span>Department is required to register a new user</span>
        } }
      </div>
      }
      <div class="field">
        <label>Email</label>
        @let email = userForm.controls.email;
        <input formControlName="email" type="email" placeholder="Email" />
        @if(email.invalid && email.touched) { @if (email.errors?.['required']) {
        <span>Email is required to register a new user</span>
        } @if (email.errors?.['pattern']) {
        <span>Type a valid email to authenticate a new user correctly</span>
        } }
      </div>
      @if (mode() !== 'onboarding') {
      <div class="field">
        @let role = userForm.controls.role;
        <label>Role</label>
        <select formControlName="role" type="number" placeholder="Role" value="0">
          <option disabled value="0">Select role</option>
          <option value="1">Head of Department</option>
          <option value="2">User</option>
          <option value="3">Issuer</option>
        </select>
        @if (role.invalid && role.touched) { @if (role.errors?.['required']) {
        <span>Role is required to register a new user</span>
        } }
      </div>
      } @if (mode() === 'onboarding') {
      <form [formGroup]="passwordForm">
        <div class="field">
          <label>Password</label>
          <input formControlName="password" type="password" placeholder="Password" />
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" />
        </div>
      </form>
      }
    </form>
    @if (mode() === 'update') {
    <div class="modal-button"><button (click)="onSubmit()">Update</button></div>
    } @else if (mode() === 'create') {
    <div class="modal-button"><button (click)="onSubmit()">Create</button></div>
    } @else if (mode() === 'onboarding') {
    <div class="modal-button"><button (click)="onSubmit()">Save</button></div>
    }
  </div>
</div>
}
