@if (isVisible())  {

<div class="overlay-modal">
  <div class="modal">
    <button class="close" (click)="isVisible.set(false)">X</button>
    <h2>{{ mode() === 'create' ? 'New Team Member' : 'Edit Team Member' }}</h2>
    <form [formGroup]="userForm">
      <div class="field">
        <label>Name</label>
        <input formControlName="name" type="text" placeholder="Name" />
      </div>
      <div class="field">
        <label>Location</label>
      @if (mode() === 'create') {
        <app-location-input (newLocation)="onSaveLocation($event)"></app-location-input>
      }
      @else {
        <app-location-input [location]="user()?.location" (newLocation)="onSaveLocation($event)"></app-location-input>
      }
      
      </div>
      <div class="field">
        <label>Department</label>
        <select formControlName="department" type="number" placeholder="Department" value="0">
          <option disabled value="0"></option>
          <option value="1">IT</option>
          <option value="2">HR</option>
          <option value="3">Sales</option>
          <option value="4">Marketing</option>
        </select>
      </div>
      <div class="field">
        <label>Email</label>
        <input formControlName="email" type="email" placeholder="Email" />
      </div>
      <div class="field">
        <label>Role</label>
        <select formControlName="role" type="number" placeholder="Role" value="0">
          <option disabled value="0"></option>
          <option value="1">Head of Department</option>
          <option value="2">User</option>
          <option value="3">Issuer</option>
        </select>
      </div>
    </form>
    @if (mode() === 'update') {
      <div class="modal-button"><button (click)="onSubmit()">Update</button></div>
    }
    @else{
    <div class="modal-button"><button (click)="onSubmit()">Create</button></div>
  }
  </div>
</div>
}
