<section #kanbanContainer cdkDropListGroup id="kanban">
  @for (kanbacolumn of kanbanColumns(); let i = $index; track kanbacolumn.title) {
  <app-kanba-column
    [id]="i.toString()"
    cdkDropList
    [cdkDropListData]="kanbacolumn.tickets"
    [title]="kanbacolumn.title"
    (cdkDropListDropped)="drop($event)"
  >
    @for (ticket of kanbacolumn.tickets; track ticket.id) {
    <app-kanban-card [ticket]="ticket"></app-kanban-card>
    }
  </app-kanba-column>
  }
</section>
@if (assignModalVisible()) {
<app-kanban-assign (close)="onAssignConfirm($event)"></app-kanban-assign>
}
