<div class="card">
  <header>
    <h3>Team Members</h3>
<div class="actions">
  
  <app-searcher (onSearch)="onSearch($event)" [allUsers]="allUsers"></app-searcher>
  <button (click)="openCreateDialog(); dialogType.set('create')">+ New Team Member</button>
</div>
  </header>
  <app-team-table
    (selectEdit)="openUpdateDialog($event)"
    (deleteUser)="onDeleteUser($event)"
    [users]="displayUsers"
  ></app-team-table>
</div>
@if (visible()){
<app-team-dialog [mode]="dialogType" [user]="userSelected" [isVisible]="visible" (submit)="onDialogSubmit($event)" (close)="closeDialog()" (locationChange)="onSaveLocation($event)"></app-team-dialog>
}
@if (deleteConfirmation()){
<app-confirm-delete-dialog [item]="'user'" [id]="userSelected()?.id?? ''" (confirm)="onDeleteConfirm($event)" (cancel)="deleteConfirmation.set(false)"></app-confirm-delete-dialog>
}