@use '../../../../../styles' as *;
.card {
  @include card();
  @include tikki-vertical-gradient-border();
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}


button {
  @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
  @include button();
}