@use '../../../../styles' as *;
.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-card);
  @include card();
  @include tikki-vertical-gradient-border();
  width: 20rem;
  height: 15rem;
 display : flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
gap :1rem;

 header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  padding: 0 0rem;

 }
}

select {
  @include input();
}
 button {
   @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
   @include button();
  padding: 0.5rem 1rem;
}