@use '../../../../styles' as *;
.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  gap: 1rem
}
.chart {
  width: 100%;
  min-width: 30rem;
  margin: 0 auto;
  @include card();
  @include tikki-vertical-gradient-border();
  border-radius: 2rem;
  margin: 0 auto;
}
