@use '../../../../styles' as *;
.charts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-shrink: 0;
  gap: 1rem
}
.chart {
  width: 100%;
  margin: 0 auto;
  @include card();
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  margin: 0 auto;
}
