@use '../../../../../../styles' as *;
.map-container {

  width: 100%;
  height: 500px;
  position: relative;
  z-index: 10;
}

#map {
  @include card();
  height: 100%;
  width: 100%;
  position: relative;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
}
