@use '../../../../../../styles' as *;
.calendar-container {
  @include card();
  height: max-content;
  width: max-content;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  margin: 0;

}
.calendar {
  width: 100%;
  height: 100%;
  
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  z-index: 1;
}
