@use '../../../../../../styles' as *;
.calendar-container {
  @include card();
  height: max-content;
  width: 90%;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  margin : 2rem auto;
}
.calendar {
  width: 100%;
 height:100%;
  transform: scale(0.95);
  margin: 0;
  position: relative; 
  scroll-behavior: smooth;
  z-index: 1;
}