p-card{
    background-color: var(--surface-card);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text-color);
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

p-table{
    margin: 2rem;
    background-color: var(--surface-card);
    color: var(--text-color);
}