<div>
  <header>
    <h3>Team Members</h3>
    <button (click)="showDialog(); dialogType.set('create')">+ New Team Member</button>
  </header>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Department</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track user.id) {
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.department_id }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role_id }}</td>
        <div class="buttons">
          <button (click)="selectUser(user)">Edit</button>
          <button (click)="onDeleteUser(user.id)">Delete</button>
        </div>
      </tr>
      }
    </tbody>
  </table>
</div>
@if (visible() && dialogType() == 'create') {

<div class="overlay-modal">
  <div class="modal">
    <button l (click)="visible.set(false)">X</button>
    <form [formGroup]="newUser">
      <label>Name</label>
      <input formControlName="name" matInput type="text" placeholder="Name" />
      <label>Location</label>
      <input formControlName="location" matInput type="text" placeholder="Location" />
      <label>Department</label>
      <input formControlName="department" matInput type="number" placeholder="Department" />
      <label>Email</label>
      <input formControlName="email" matInput type="email" placeholder="Email" />
      <label>Role</label>
      <input formControlName="role" matInput type="number" placeholder="Role" />
      <button (click)="onCreateUser()">Create</button>
    </form>
  </div>
</div>
} @if(visible() && dialogType() == 'edit') {
<div class="overlay-modal">
  <div class="modal">
    <button (click)="visible.set(false)">X</button>
    <form [formGroup]="updateUser">
      <label>Name</label>
      <input formControlName="name" matInput type="text" placeholder="Name" />
      <label>Location</label>
      <input
        formControlName="location"
        matInput
        type="text"
        placeholder="Location"
        value="{{ userSelected()?.location }}"
      />
      <label>Department</label>
      <input
        formControlName="department"
        matInput
        type="number"
        placeholder="Department"
        value="{{ userSelected()?.department_id }}"
      />
      <label>Email</label>
      <input
        formControlName="email"
        matInput
        type="email"
        placeholder="Email"
        value="{{ userSelected()?.email }}"
      />
      <label>Role</label>
      <input
        formControlName="role"
        matInput
        type="number"
        placeholder="Role"
        value="{{ userSelected()?.role_id }}"
      />
      <button (click)="onEditUser()">Update</button>
    </form>
  </div>
</div>
}
