div {
  background-color: var(--surface-card);
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

td {
  padding: 1rem 2rem;
}

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-card);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 100;
  width: 40rem;
  height: 20rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
