<div class="card">
  <header>
    <h3>Team Members</h3>
    <div class="actions">
      <app-searcher
        [allData]="displayUsers"
        [searchFields]="['name', 'email', 'role', 'department']"
        (onSearch)="afterSearchUsers.set($event)"
      ></app-searcher>
      @if (roleId === 0){
      <button (click)="openCreateDialog(); dialogType.set('create')">+ New Team Member</button>
      }
    </div>
  </header>
  <app-data-table
    (selectEditUser)="openUpdateDialog($event)"
    (deleteUser)="onDeleteUser($event)"
    [usersElements]="displayUsers"
  ></app-data-table>
  <app-pagination-tool
    [elements]="afterSearchUsers"
    (currentResults)="displayUsers.set($event)"
  ></app-pagination-tool>
</div>
@if (visible()){
<app-team-dialog
  [mode]="dialogType"
  [user]="userSelected"
  [isVisible]="visible"
  (submit)="onDialogSubmit($event)"
  (close)="closeDialog()"
  (locationChange)="onSaveLocation($event)"
></app-team-dialog>
} @if (deleteConfirmation()){
<app-confirm-delete-dialog
  [item]="'user'"
  [id]="userSelected()?.id ?? ''"
  (confirm)="onDeleteConfirm($event)"
  (cancel)="deleteConfirmation.set(false)"
></app-confirm-delete-dialog>
}
