@use '../../../../styles' as *;
.pagination-tool {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 0 0;
}
button {
  @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
  @include button();
  padding: 0.5rem 1rem;
}
.active {
  background: var(--secondary-color);
  color: white;
  font-weight: 800;
}
