@use '../../../../styles' as *;
.calendar-container {
  @include card();
  @include tikki-vertical-gradient-border();
  height: max-content;
  width: max-content;
  
  border-radius: 2rem;
  margin: 0;
  width: 100%;
 
}
.calendar {
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  z-index: 1;
}
