<div class="chat-open">
@if (chat()) {
    <header class="title">
        <h3>{{toUserId() | userName}}</h3>
        <div class="ticket-info">
            <h4>{{relatedTicket()?.title}}</h4>
            <p>{{relatedTicket()?.description}}</p>
        </div>
    </header>

    <div class="messages">
       @for (message of chatMessages(); track message.id) {
           <div class="message" [class]="dynamicMessageClass(message)">
               <p>{{message.message}}</p>
           </div>
       }
    </div>
    <div class="message-input">
        <input type="text" placeholder="Type a message" 
        [ngModel]="message()"
        (ngModelChange)="message.set($event)"
        />
        <button (click)="onSend(message())">Send</button>
    </div>
}
</div>
