@use '../../../../styles' as *;
.chat-open{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
    border : 2px solid var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;

}

.message-input {
 grid-column: 2/4;
 grid-row: 3/4;
 width: 100%;
 height: min-content;
 display: flex;
 flex-direction: row;
 gap: 1rem;
}
input{
    width: 100%;
    border-radius: 0.5rem;
    @include input();
}
button {
    @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
    @include button();
}

