@use '../../../../styles' as *;
.chat-open{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 5fr 0.5fr;
    gap: 1rem;
    height: 80%;
    width: 100%;
    border : 3px solid var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
    margin : 0 0 0 1rem;
}
.title {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ticket-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    button{
        padding: 0.5rem 1rem;
    }
}
.message-input {
 grid-column: 2/4;
 grid-row: 3/4;
 width: 100%;
 height: min-content;
 display: flex;
 flex-direction: row;
 gap: 1rem;
}
input{
    width: 100%;
    border-radius: 0.5rem;
    @include input();
}
button {
    @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
    @include button();
}
.messages {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    padding:0.5rem 2rem;
    border-radius: 2rem;
    scrollbar-color : var(--primary-color) var(--surface-ground);
    scroll-behavior: smooth;
    overflow-anchor: auto;
  
}
.received {
    background-color: #94fba3;
    padding: 0.5rem;
    border-radius: 1.5rem;
    height: min-content;
    align-self: flex-start;
    max-width: 60%;
}
.sent {
    padding: 0.5rem;
    border-radius: 1.5rem;
    height: min-content;
    background-color: var(--surface-ground);
    align-self: flex-end;
    max-width: 60%;
}