.logo{
    width: 12rem;
    height: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    padding: 0 2rem;
   
}
a{
text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
 
p-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--surface-card);
   
    gap: 1rem;
    img{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
}