@use '../../../../styles' as *;
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.menu {
  display: none
}
.logo {
  width: 12rem;
  cursor: pointer;
  img {
    width: 100%;
    height: fit-content;
  }
}
.user {
  @include card();
  @include tikki-vertical-gradient-border();
  display: flex;
min-width: 22rem;
margin: 0;
padding: 2rem 2rem;
  img {
    min-width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
  }
  hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    h1 {
      font-size: 1rem;
    }
    span {
      font-size: 0.8rem;
    }
  }
  button {
    @include tikki-vertical-gradient-border(2.5rem, 3px, var(--primary-color));
    color: var(--background-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      @include tikki-vertical-gradient-border();
      color: var(--primary-color);
    }
  }
}
.unread {
  background-color: rgb(248, 91, 91);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  transform:translateY(-25%);
  position: absolute;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
  gap: 2rem;
  a {
    text-decoration: none;
    @include tikki-vertical-gradient-border();
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    cursor: pointer;
    &:hover {
      @include tikki-vertical-gradient-border(2.5rem, 3px, var(--primary-color));
      color: var(--background-color);
    }
    &.active {
      @include tikki-vertical-gradient-border(2.5rem, 3px, var(--primary-color));
      color: var(--background-color);
    }
  }
}

@media (max-width: 1024px) {
nav{
  gap: 0.8
}
  
}
@media (max-width: 768px) {
  .menu {
    @include tikki-vertical-gradient-border(2.5rem, 3px, var(--primary-color));
    color: var(--background-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: block;
  }
  nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: absolute;
    top: 5%;
    left: -5%;
    width: 20%;
    height: 23%;
    z-index: 1;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 2rem;
  }
}