@use '../../../../styles' as *;
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  padding: 0 2rem;
}

.logo{
  width: 12rem;
  cursor: pointer;
  img{
    width: 100%;  
    height: fit-content;
  }
}
.user{
@include card();
@include tikki-vertical-gradient-border();
display: flex ;

img{
    width: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
  }
  hgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
    h1{
      font-size: 1rem;
    }
    span{
      font-size: 0.8rem;
    }
  }
  button{
    @include tikki-vertical-gradient-border(2.5rem, 3px, var(--primary-color));
    color: var(--background-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover{
      @include tikki-vertical-gradient-border();
      color: var(--primary-color);
    }
  }
}
 
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  a{
    text-decoration: none;
    @include tikki-vertical-gradient-border();
    padding: 0.5rem 1rem;
    color: var(--primary-color);
    cursor: pointer;
    &:hover{
      @include tikki-vertical-gradient-border(2.5rem, 3px, var(--primary-color));
      color: var(--background-color);
    }
  }
}