  <table>
    <thead>
      <tr>
        @if (usersElements().length > 0) {
        <th>Name</th>
        <th>Role</th>
        <th>Location</th>
        <th>Department</th>
        <th>Email</th>
        }
        @else if (ticketsElements().length > 0) {
        <th>Title</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Department</th>
        <th>Deadline</th>
        <th>Location</th>
        <th>Created At</th>
        <th>Assigned To</th>
        }
      
      </tr>
    </thead>
    @if (usersElements().length > 0) {
    <tbody>
      @for (user of usersElements(); track user.id) {
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.role_id | rolePipe}}</td>
        <td>{{ user.location?.name }}</td>
        <td class="department" > <app-badge [variant]="user.department_id | departmentPipe"></app-badge></td>
        <td>{{ user?.email  }}</td>
        <td class="buttons">
          <button (click)="onSelectEdit(user)" >Edit</button>
          <button (click)="onDeleteUser(user.id ?? '')">Delete</button>
        </td>
      </tr>
      }
      
    }
    @else if (ticketsElements().length > 0) {
    <tbody>
      @for (ticket of ticketsElements(); track ticket.id) {
      <tr>
        <td>{{ ticket.title }}</td>
        <td><app-badge [variant]=" ticket.priority | priority"></app-badge></td>
        <td>{{ (ticket.status) |status }}</td>
        <td class="department"><app-badge [variant]="ticket.department_id | departmentPipe"></app-badge></td>
        <td>{{ ticket.deadline | date }}</td>
        <td>{{ ticket.location.name }}</td>
        <td>{{ ticket.created_at | date }}</td>
        <td>{{ ticket.assigned_to | userName }}</td>
        <td class="buttons">
          <button (click)="onSelectTicket(ticket)" ><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 18V16H16V18H3ZM19.6 17L14.6 12L19.6 7L21 8.4L17.4 12L21 15.6L19.6 17ZM3 13V11H13V13H3ZM3 8V6H16V8H3Z" fill="#FEF7FF"/>
</svg></button>
      
        </td>
      </tr>
      }
    </tbody>
    }
  </table>
