<section>
  
      <div class="ticket-status-item queued">
        <h3>Queued</h3>
        <p>{{  queuedTicketsCount }}</p>
      </div>
      <div class="ticket-status-item assigned">
        <h3>Assigned</h3>
        <p>{{ assignedTicketsCount }}</p>
      </div>
      <div class="ticket-status-item in-progress">
        <h3>In Progress</h3>
        <p>{{ inProgressTicketsCount }}</p>
      </div>
      <div class="ticket-status-item completed">
        <h3>Completed</h3>
        <p>{{ completedTicketsCount }}</p>
      </div>
 
</section>
