@use '../../../../styles' as *;

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
}
.ticket-status-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    @include card();
    @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
    margin: 1rem 0 2rem 0;
}
.queued {
background-color: #f27979;
}
.assigned {
background-color: #f2b279;
}
 .in-progress {
background-color: #f4ed84;
 }

 .completed {
background-color: #98f486;
 }


@media (max-width: 768px) {
section {
    gap: 2rem;
}
  .ticket-status-item{
 font-size: 0.9rem;
  }
}