<nav>
    <a routerLink="tools" (click)='selectedTool.set("map")' pButton [rounded]="true">
    <span pButtonLabel>Map</span>
</a>
<a routerLink="tools" (click)='selectedTool.set("calendar")' pButton [rounded]="true">
    <span pButtonLabel>Calendar</span>
</a>
<a routerLink="tools" (click)='selectedTool.set("charts")' pButton [rounded]="true">
    <span pButtonLabel>Charts</span>
</a>
</nav>
<div>
    @if (selectedTool() == 'map') {
        <app-map [locations]="locations()"></app-map>
    }
    @if (selectedTool() == 'calendar') {
        <app-calendar [events]="events()"></app-calendar>
    }
   
    @if (selectedTool() == 'charts') {
            <app-charts [data]="tickets()"></app-charts>
    }
</div>