<nav>
    <a  (click)='selectedTool.set("map")' >
   Map
</a>
<a  (click)='selectedTool.set("calendar")'>
  Calendar
</a>
<a  (click)='selectedTool.set("charts")' >
Charts
</a>
</nav>
<div>
    @if (selectedTool() == 'map') {
        <app-map [locations]="locations()"></app-map>
    }
    @if (selectedTool() == 'calendar') {
        <app-calendar [events]="events()"></app-calendar>
    }
   
    @if (selectedTool() == 'charts') {
            <app-charts [data]="tickets()"></app-charts>
    }
</div>