@use '../../../../styles' as *;
.kanban-column {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    min-height: 100vh;
 @include card();
 @include tikki-vertical-gradient-border();
 margin : 0 ;
 padding: 2rem 0 2rem 0;
}
h2 {
    margin: 0 0 1rem 0;
}