@use '../../../../styles' as *;

.location-input{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap : 0.5rem;
    width: 10rem;   
    margin: 0
}
input{
@include input();
margin : 0.5rem 0;
}
ul{
    position: absolute;
    top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 10;
}
article{
    cursor: pointer;
    z-index: 10;
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    border: solid var(--primary-color) 1px;
    border-radius: 1rem;
     &:hover{
        border: solid var(--secondary-color) 1px;
     }
    h2{
        font-size: 1rem;
        font-weight: 500;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p{
        font-size: 0.8rem;
        color: gray;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}