main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
   
}
.buttons{
    display: flex;
    justify-content: flex-end;
   margin: 2rem 3rem;
}
 mat-card{
    width: 35rem;
 }
 span{
    color: red;
    font-size:x-small;
    display: block;
    position: relative;
 
    text-align: left;
 }