main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
   
}
.buttons{
    display: flex;
    justify-content: flex-end;
   margin: 2rem 3rem;
}
 mat-card{
    width: 35rem;
 }