@use '../../../../styles.scss' as *;

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 0 2rem;
   h1{
    font-size: 1.4rem;}
}
.card{
     @include tikki-vertical-gradient-border();
  padding: 2rem;
  width: 60%;
  height: 50%;
  margin: 2rem auto;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   gap: 2rem;
   margin:2rem;

   .field{
       display: flex;
       flex-direction: column;
       width: 35%;
       input {
        @include input;
    
       }
          label{
           font-size: 0.9rem;
          
       }
   }
}
.button{
    display: flex;
    justify-content: flex-end;
    margin: 3rem 0.2rem 0 0;
}
button{
  @include button;
    @include tikki-vertical-gradient-border(3rem, 3px , var(--primary-color));
    margin: 0 1rem;
    font-size: 1.2rem;
}

 span{
    color: red;
    font-size:x-small;
    position: absolute;
     bottom: 53.5%;
    text-align: left;
 }
 .pwd{
    color: red;
    font-size:x-small;
    position: absolute;
     bottom: 40.5%;
    text-align: left;
    width: 25%;
 }