<main>
    <div class="logo"><a routerLink="/"><img src="assets/tikki-logo.png" alt="Tikki App logo" /></a></div>
  <div class="card">
    <header>
      <h1>Register your team</h1>
    </header>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="field">
        @let teamName = registerForm.controls.teamName;
        <label>Company name</label>
        <input formControlName="teamName" type="text" placeholder="Company name" />
        @if (teamName.invalid && teamName.touched ) { @if (teamName.errors?.['required']) {
        <span>Company name is required</span>
        } @if (teamName.errors?.['minlength']) {
        <span>Team name must be at least 3 characters</span>
        } @if (teamName.errors?.['maxlength']) {

        <span>Team name must be at most 24 characters</span>
        } }
      </div>

      <div class="field">
        @let adminEmail = registerForm.controls.adminEmail;
        <label>Admin Email</label>
        <input formControlName="adminEmail" type="email" placeholder="Admin Email" />
        @if (adminEmail.invalid && adminEmail.touched ) { @if (adminEmail.errors?.['required']) {
        <span>Admin email is required</span>
        } @if (adminEmail.errors?.['pattern']) {
        <span>Please enter a valid email</span>
        } }
      </div>
      <div class="field">
        @let password = registerForm.controls.password;
        <label> Password</label>
        <input formControlName="password" type="password" placeholder="Password" />

        @if (password.invalid && password.touched) { @if (password.errors?.['minlength']) {
        <span class="pwd">Password must be at least 8 characters</span>
        } @else if (password.errors?.['required']) {
        <span class="pwd">Password is required</span> } @else if (password.errors?.['maxlength']) {
        <span class="pwd">Password must be at most 24 characters</span>
        } @else if (password.errors?.['pattern']) {
        <span class="pwd"
          >Password must contain at least one uppercase letter, one lowercase letter, one number,
          one special character</span
        >
        } }
      </div>
    </form>
    <div class="button">
      <button type="submit" (click)="onSubmit()" form="registerForm">Register your Team</button>
    </div>
  </div>
</main>
