header{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    height: 75vh;
}

hgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8rem;
    h1{
        font-size: 8rem ;
        font-weight: 500;
    }
    h2{
        font-size: 3rem;
        font-weight: 500;
         line-height: 3rem;
         margin: 0 0 0 2rem;
    }
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    img {
        margin: 1rem 2rem;
        width: 20rem;
    }
}
.buttons{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-right: 5rem;
    a{
        text-decoration: none;
        padding: 0.5rem 2rem;
        width: 15rem;
    }
}
.logo{
    display: flex;
    justify-content: center;
    img{
        margin: 0 2rem;
        width: 50rem;
    }
}
.description{
    margin: 0 8rem;
    font-size: 1.2rem;
   p{
    color:gray;
    line-height: 2rem;
   }
}
 
.feature-text{
    margin: 0 2rem;
    width: 50%;
 
    h4{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
        color : gray;
    }
}