@use '../../../styles' as *;

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 90%;
    margin: 2rem auto;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
hgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 8rem;
    width: 70%;
    h1{
        font-size: 7rem ;
        font-weight: 500;
    }
   
    h2{
        font-size: 3.5rem;
        font-weight: 500;
         line-height: 3rem;
         margin: 0 0 0 2rem;
    }
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
    align-self : flex-start;
    margin: 2rem 1rem 0 0;
    width: 30%;
    button {
        @include tikki-vertical-gradient-border(1.5rem, 2px , var(--primary-color));
        @include button();
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem 2rem;
        color: var(--background-color);
        width: 100%;
        min-width: max-content;
        max-height: 3rem;
        max-width: 20rem;
    }
}
}
article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    img {
        margin: 1rem 2rem;
        width: 20rem;
    }
}

.description{
    margin: 0 8rem 5rem;
    font-size: 1.2rem;
   p{
    color:gray;
    line-height: 2rem;
   }
}
 
.feature-text{
    margin: 0 2rem;
    width: 50%;
 
    h4{
        font-size: 1.8rem;
    }
    p{
        font-size: 1.2rem;
        color : gray;
    }
}
#feature-2{
flex-direction: row-reverse;
}
