<div class="searcher">
  <div class="query" [ngClass]="{ reverse: !isSearchingVisible() && isFiltersVisible() }">


    <select [ngClass]="{ hidden: !isFiltersVisible() }" (change)="onSortChange($event)">
      <option disabled selected value="0">Sort by</option>
      <option value="name">Name</option>
      <option value="email">Email</option>
      <option value="role">Role</option>
      <option value="department">Department</option>
    </select>

    <input
      type="text"
      placeholder="Search"
      [ngModel]="query()"
      (ngModelChange)="query.set($event); onQueryChange()"
      [ngClass]="{ hidden: !isSearchingVisible() }"
    />
  </div>
  <div class="filters-icons" >
  <img src="assets/sort.png" alt="Sort icon" (click)="toggleSortOrder()" />
  <img src="assets/search.png" alt="Search icon" (click)="toggleVisible('search')" />
  <img src="assets/Sliders.png" alt="Filter icon" (click)="toggleVisible('filters')" />
  </div>
</div>
