@use '../../../../styles' as *;
.searcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  
  margin: 0 0;
}
input {
  @include input();
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.query {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.reverse {
  flex-direction: row-reverse;
}
select {
  @include input();
}

.filters-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  img {
    width: 1.3rem;
    cursor: pointer;
  }
}

