.map-container {
  display: block;
  width: 100%;
  height: 600px; // Altezza fissa per il container
  margin: 0 auto;
  position: relative; // Importante!
  z-index: 1;
}

#map {
  height: 100%; // 100% del container
  width: 100%;
  position: relative;
}