@use '../../../../../../styles' as *;
.map-container {
  display: block;
  width: 80%;
  height: 500px; 
  margin: 0 auto;
  position: relative; 
  z-index: 10;

}

#map {
  height: 100%; 
  width: 100%;
  position: relative;
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
}