@use '../../../../styles' as *;
.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-card);
  @include card();
  @include tikki-vertical-gradient-border();
  width: 50rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 25%;
  border: 1px solid red;
  color: white;
}
.modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin : 0 4rem;
  height: 100%;
}
.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
  button {
    @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
    @include button();
  }
}
span {
  font-weight: bold;
}

input {
  @include input();
}
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}