    .badge {
      width: 100%;
      min-height: 100%;
      padding:0.4rem 1rem;
      border: 1px solid transparent;
      border-radius: 2rem;
      font-size: 1.1rem ;
      font-weight: 600;
      text-align: center;
    }

    .badge-2 {
      background-color: #4ade80;
      color: white;
    }

    .badge-1 {
      background-color: #c084fc;
      color: white;
    }

    .badge-3 {
      background-color: #fb923c;
      color: white;
    }

    .badge-4 {
      background-color: #60a5fa;
      color: white;
    }

    .badge-0 {
      background-color: #94a3b8;
      color: white;
    }