    .badge {
      width: 100%;
      min-height: 100%;
      padding:0.4rem 1rem;
      border: 1px solid transparent;
      border-radius: 2rem;
      font-size: 1.1rem ;
      font-weight: 600;
      text-align: center;
      text-shadow: black 0em 0em 0.1em ;
    }

    .badge-HR {
      background-color: #4ade80;
      color: white;
    }

    .badge-IT {
      background-color: #c084fc;
      color: white;
    }

    .badge-Sales {
      background-color: #fb923c;
      color: white;
    }

    .badge-Marketing {
      background-color: #60a5fa;
      color: white;
    }

    .badge-0 {
      background-color: #94a3b8;
      color: white;
    }

    .badge-Low {
      background-color:  #3b82f6;
      color: white;
      font-size: 1rem;
    }

    .badge-Medium {
      background-color: #f5e20b;
      color: white;
     font-size: 1rem;
    }

    .badge-High {
      background-color: #f6993b;
      color: white;
    }

    .badge-Critical {
      background-color: #ef4444;
      color: white;
    }
