.bento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  width: 80%;
  justify-content: center;

}

.left-section{
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.right-section{
  grid-row: 1 / 3;
  grid-column: 2 / 4;
  gap: 1rem;

}
app-calendar{
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  margin-top: 1rem;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 margin-bottom: 5rem;
}