@use '../../../../styles' as *;
table {
  width: 100%;
}
thead {
  text-align: center;
}
td {
  text-align: center;
  padding: 1rem 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 1rem;
  margin: auto;
  align-content: center;
  button {
    @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
    @include button();
  }
}
.department {
  padding: 0;
}
