  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Location</th>
        <th>Department</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track user.id) {
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.role_id | rolePipe}}</td>
        <td>{{ user.location?.name }}</td>
        <td class="department" > <app-badge [variant]="user.department_id"></app-badge></td>
        <td>{{ user.email }}</td>
        <td class="buttons">
          <button (click)="onSelectEdit(user)" >Edit</button>
          <button (click)="onDeleteUser(user.id ?? '')">Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
