<div class="card">
  <header>
    @if (userRole === 0){
    <h3>All Tickets</h3>
    } @if (userRole === 1){
    <h3>Department Tickets</h3>
    } @if (userRole === 2){
    <h3>Assigned Tickets</h3>
    }
    <div class="actions">
      <app-searcher
        (onSearch)="searchResultTickets.set($event)"
        [searchFields]="['title', 'department_id', 'deadline', 'status', 'priority']"
        [allData]="roleFilteredTickets"
      ></app-searcher>
      <button (click)="openCreateDialog()">+ New Ticket</button>
    </div>
  </header>
  <app-data-table
    (selectTicket)="onSelectEditTicket($event)"
    (deleteTicket)="onDeleteTicket($event)"
    [ticketsElements]="displayTickets"
  ></app-data-table>
  <app-pagination-tool
    [elements]="searchResultTickets"
    (currentResults)="displayTickets.set($event)"
  ></app-pagination-tool>
</div>
@if (userRole=== 1 || userRole === 2){
<div class="card">
  <header>
    <h3>Followed Tickets</h3>
    <div class="actions">
      <app-searcher
        (onSearch)="searchResultFollowedTickets.set($event)"
        [searchFields]="['title', 'department_id', 'deadline', 'status', 'priority']"
        [allData]="followedTickets"
      ></app-searcher>
      <button (click)="openCreateDialog()">+ New Ticket</button>
    </div>
  </header>
  <app-data-table
    (selectTicket)="onSelectEditTicket($event)"
    [ticketsElements]="displayFollowedTickets"
  ></app-data-table>
  <app-pagination-tool
    [elements]="searchResultFollowedTickets"
    (currentResults)="displayFollowedTickets.set($event)"
  ></app-pagination-tool>
</div>
} @if (deleteConfirmation()){
<app-confirm-delete-dialog
  [item]="'ticket'"
  [id]="ticketSelected()?.id ?? ''"
  (confirm)="onDeleteConfirm($event)"
  (cancel)="deleteConfirmation.set(false)"
></app-confirm-delete-dialog>
} @if(ticketSelected() && ticketdetailsMode() === 'view' && isTicketDetailsVisible()){
<app-ticket-details
  [ticket]="ticketSelected()!"
  [isVisible]="isTicketDetailsVisible"
  (recharge)="rechargeTickets()"
></app-ticket-details>
} @if (isTicketDetailsVisible() && !ticketSelected()){
<app-ticket-details
  [mode]="ticketdetailsMode"
  [isVisible]="isTicketDetailsVisible"
  (recharge)="rechargeTickets()"
></app-ticket-details>
}
