@use '../../../styles' as *;
.card {
  @include card();
  @include tikki-vertical-gradient-border();
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

button {
  @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
  @include button();
}
@media (max-width: 768px) {
  .card {
    padding : 0.8rem 0.8rem;
    overflow: scroll;
    scrollbar-width: none;
  }

  button {
    padding : 0.5rem 1rem;
  }
  .actions{
    gap: 1rem;
    button{
      padding : 0.5rem 1rem;
  }
  }
}