:root {
  --primary-color:#009951;
  --surface-ground: #f3f4f6;
  --text-color: #374151;
  --text-color-secondary: #6b7280;
  
  // Gradient custom
  --tikki-gradient: linear-gradient(135deg, #10b981, #f59e0b);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--surface-ground);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

::ng-deep .p-button.gradient-btn {
  background: var(--tikki-gradient);
  border: none;
  
  &:enabled:hover {
    background: linear-gradient(135deg, #0ea574, #d97706);
  }
}