@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary-color: #10b981;
  --secondary-color: #FFC943;
  --text-color: #333;
  --surface-ground: #f0f8ff;
  --background-color : #ffffff;
  --tikki-gradient: linear-gradient(180deg, #10b981, #ffc943);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Instrument Sans', sans-serif;
}


@mixin button($background-color: var(--primary-color), $color: #fff) {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@mixin input {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  &:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
}



@mixin card {
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@mixin tikki-vertical-gradient-border($radius: 2.5rem, $border: 3px, $background-color : var(--background-color)) {
  border-radius: $radius;
  border: $border solid transparent;
  background:
   linear-gradient(#{$background-color}, #{$background-color}) padding-box,
  var(--tikki-gradient) border-box;

 & button:hover  {
    background:
     linear-gradient(var(--background-color), var(--background-color)) padding-box,
    var(--tikki-gradient) border-box;
    color: var(--primary-color);
  }
}