@use '../../../../styles' as *;
.kanban-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    gap: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   border-radius: 2rem;
   padding: 1rem;
    margin : 0
}       
.categories {
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grayed-out {
    opacity: 0.5;
}
span {
    font-weight: bold;
    }
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap : 0.5rem
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 0.5rem;
    width: 100%;
}

button{
    @include tikki-vertical-gradient-border(3rem, 2px, --primary-color);
    @include button();
    padding: 0.5rem 1rem;
}