<article
  class="kanban-card"
  [ngClass]="{
    'grayed-out':
      (auth.appUser()?.role_id === 1 && !isMydept()) ||
      (auth.appUser()?.role_id === 2 && !isAssignedToMe())
  }"
  cdkDrag
  [cdkDragDisabled]="!isDraggable()"
>
  <ng-content></ng-content>
  <header>
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>
    <div class="categories">
      <app-badge [variant]="ticket.department_id | departmentPipe"
        >Department: {{ ticket.department_id | departmentPipe }}</app-badge
      >
      <app-badge [variant]="ticket.priority | priority">{{ ticket.priority | priority }}</app-badge>
    </div>
  </header>
  <p><span>Created At:</span> {{ ticket.created_at | date }}</p>
  <p><span>Deadline:</span> {{ ticket.deadline | date }}</p>
  <p><span>Created By:</span> {{ ticket.created_by | userName }}</p>
  <p><span>Assigned To:</span> {{ ticket.assigned_to | userName }}</p>
  <div class="actions">
    <button (click)="openTicketDetails()"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3 18V16H16V18H3ZM19.6 17L14.6 12L19.6 7L21 8.4L17.4 12L21 15.6L19.6 17ZM3 13V11H13V13H3ZM3 8V6H16V8H3Z" fill="#FEF7FF"/>
</svg></button>
    <button (click)="openTicketChat(ticket.id)"><svg width="24" height="24" viewBox="0 0 123 123" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M30.6849 71.5975H92.0541V61.3693H30.6849V71.5975ZM30.6849 56.2552H92.0541V46.027H30.6849V56.2552ZM30.6849 40.9129H92.0541V30.6847H30.6849V40.9129ZM112.511 112.51L92.0541 92.0539H20.4567C17.644 92.0539 15.2361 91.0524 13.2331 89.0494C11.23 87.0463 10.2285 84.6385 10.2285 81.8257V20.4565C10.2285 17.6437 11.23 15.2358 13.2331 13.2328C15.2361 11.2298 17.644 10.2283 20.4567 10.2283H102.282C105.095 10.2283 107.503 11.2298 109.506 13.2328C111.509 15.2358 112.511 17.6437 112.511 20.4565V112.51ZM20.4567 81.8257H96.4011L102.282 87.5791V20.4565H20.4567V81.8257Z" fill="#ffffff"/>
</svg></button>
  </div>
</article>

@if(ticketDetailsVisible()) {
    <app-ticket-details [ticket]="ticket" [mode]="viewTicketDetails" [isVisible]="ticketDetailsVisible"></app-ticket-details>
}